In [1]:
import numpy as np
import pandas as pd

In [2]:
country = "GBR"
industry = "C23"

In [3]:
df = pd.read_csv("WIOT2014_Nov16_ROW.csv", header = [0,1,2,3], index_col = [0,1,2,3])

D:\Anaconda32\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,53,54,55,56,57,58,60,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,116,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,172,175,176,177,181,182,184,185,186,187,189,190,191,195,198,199,200,201,202,205,207,210,211,212,213,215,216,221,222,223,224,225,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,251,252,254,255,256,257,258,259,260,261,263,264,265,266,267,268,271,272,273,274,277,278,279,280,281,282,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,307,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,327,328,329,330,331,332,333,334,335,336,337,340,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,366,367,368,369,370,371,372,373,374,375,376,378,379,380,381,383,384,386,388,389,390,391,392,393,394,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,419,420,421,422,424,425,426,427,428,429,430,431,434,435,436,437,439,440,442,444,445,446,447,448,449,456,475,478,480,481,483,485,487,492,494,495,496,502,503,504,505,508,509,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,564,565,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,620,621,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,641,642,643,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,732,736,738,747,748,755,758,760,761,762,765,767,771,775,781,782,783,784,785,788,789,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,956,958,959,960,961,963,965,966,967,968,969,970,971,973,974,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1012,1015,1016,1017,1022,1025,1027,1035,1038,1040,1041,1042,1045,1047,1050,1052,1055,1056,1057,1061,1062,1063,1064,1065,1068,1072,1073,1074,1075,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1100,1101,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1116,1117,1118,1119,1120,1121,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1147,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1167,1168,1173,1174,1175,1176,1177,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1203,1204,1206,1207,1208,1209,1210,1211,1212,1213,1215,1218,1219,1220,1221,1223,1224,1225,1229,1230,1231,1232,1233,1236,1239,1240,1244,1246,1247,1248,1249,1251,1252,1253,1254,1257,1258,1259,1261,1262,1263,1264,1265,1266,1268,1269,1270,1271,1272,1274,1275,1276,1277,1278,1279,1280,1281,1284,1285,1286,1287,1288,1289,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1391,1394,1395,1396,1397,1398,1399,1400,1401,1402,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1460,1464,1465,1466,1469,1470,1472,1481,1483,1486,1487,1488,1489,1490,1493,1500,1503,1504,1509,1510,1511,1512,1513,1520,1528,1529,1530,1531,1539,1542,1544,1545,1546,1549,1550,1551,1554,1555,1556,1557,1558,1559,1560,1561,1565,1566,1567,1568,1569,1572,1573,1576,1578,1595,1598,1600,1601,1602,1605,1607,1610,1611,1612,1615,1621,1622,1623,1624,1625,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1668,1669,1670,1672,1673,1674,1676,1677,1678,1679,1680,1681,1682,1710,1719,1724,1737,1740,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1852,1853,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1908,1909,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1955,1956,1957,1958,1959,1960,1961,1962,1964,1965,1967,1968,1969,1970,1971,1972,1973,1974,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2020,2023,2024,2025,2026,2027,2029,2030,2032,2033,2034,2036,2038,2039,2041,2043,2046,2047,2048,2049,2050,2051,2052,2053,2055,2058,2060,2063,2069,2070,2071,2072,2073,2076,2077,2080,2081,2082,2083,2085,2086,2088,2089,2090,2091,2092,2093,2094,2095,2097,2098,2099,2102,2103,2104,2105,2106,2109,2111,2114,2115,2116,2117,2118,2119,2120,2121,2123,2124,2125,2126,2127,2128,2129,2132,2136,2142,2143,2144,2145,2146,2147,2149,2150,2151,2155,2158,2159,2160,2161,2162,2165,2167,2170,2171,2172,2175,2176,2177,2181,2182,2183,2184,2185,2188,2189,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2279,2282,2283,2284,2285,2286,2287,2292,2293,2294,2295,2296,2297,2298,2300,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2460,2461,2462,2463,2464,2465,2466,2468,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2485,2486,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2505,2506,2507,2508,2510,2511,2513,2514,2515,2516,2519,2520,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2535,2536,2538,2539,2540,2541,2542,2544,2545,2546,2547,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2560,2561,2563,2564,2565,2566,2568,2570,2571,2572,2573,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2595,2596,2597,2598,2600,2601,2603,2604,2605,2606,2608,2610,2611,2613,2615,2616,2617,2618,2620,2621,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2643,2645,2646,2647,2648,2649,2650,2651,2652,2653,2655,2656,2658,2660,2661,2662,2663,2664,2665,2666,2667,2668,2670,2671,2672,2673,2674,2675,2676,2680,2681,2682,2684,2685,2687) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
func = lambda x: float(x.replace(",","")) if type(x)==str else float(x)
vfunc = np.vectorize(func)
df.loc[:,:] = vfunc(df.values)

D:\Anaconda32\lib\site-packages\ipykernel\kernelbase.py:399: PerformanceWarning: indexing past lexsort depth may impact performance.
  user_expressions, allow_stdin)

### Q1
Value added in your industry is _____ US dollars. (1 point)

In [5]:
# value added for your industry sector worldwide
Q1 = df.loc[("VA", slice(None), slice(None), slice(None)),
        (industry, slice(None), country, slice(None))]
Q1

                                                                                      C23
                                       Manufacture of other non-metallic mineral products
                                                                                      GBR
                                                                                      c14
VA Value added at basic prices TOT r70                                             7995.0

### Q2
Total final demand by **your country and the rest of the world** for the **output of your industry** is _____ US dollars.

In [6]:
# total final demand (from all around the world) for the output of your industry sector
df.loc[(industry, slice(None), country, slice(None)),
       ("CONS_h	CONS_np	CONS_g	GFCF	INVEN".split("	"), slice(None), slice(None), slice(None))]

,,,,CONS_h,CONS_np,CONS_g,GFCF,INVEN,CONS_h,CONS_np,CONS_g,GFCF,INVEN,...,CONS_h,CONS_np,CONS_g,GFCF,INVEN,CONS_h,CONS_np,CONS_g,GFCF,INVEN
,,,,Final consumption expenditure by households,Final consumption expenditure by non-profit organisations serving households (NPISH),Final consumption expenditure by government,Gross fixed capital formation,Changes in inventories and valuables,Final consumption expenditure by households,Final consumption expenditure by non-profit organisations serving households (NPISH),Final consumption expenditure by government,Gross fixed capital formation,Changes in inventories and valuables,...,Final consumption expenditure by households,Final consumption expenditure by non-profit organisations serving households (NPISH),Final consumption expenditure by government,Gross fixed capital formation,Changes in inventories and valuables,Final consumption expenditure by households,Final consumption expenditure by non-profit organisations serving households (NPISH),Final consumption expenditure by government,Gross fixed capital formation,Changes in inventories and valuables
,,,,AUS,AUS,AUS,AUS,AUS,AUT,AUT,AUT,AUT,AUT,...,USA,USA,USA,USA,USA,ROW,ROW,ROW,ROW,ROW
,,,,c57,c58,c59,c60,c61,c57,c58,c59,c60,c61,...,c57,c58,c59,c60,c61,c57,c58,c59,c60,c61
C23,Manufacture of other non-metallic mineral products,GBR,r14,7.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,...,71.0,0.0,0.0,12.0,2.0,35.0,0.0,0.0,2.0,0.0

In [7]:
# total final demand (from all around the world) for the output of your industry sector
Q2 = df.loc[(industry, slice(None), country, slice(None)),
       ("CONS_h	CONS_np	CONS_g	GFCF	INVEN".split("	"), slice(None), slice(None), slice(None))].sum(axis=1)
Q2

C23  Manufacture of other non-metallic mineral products  GBR  r14    2259.0
dtype: float64

### Q3
Your industry sells _____ US dollars worth of intermediate inputs to producers in your country and the rest of the world.

In [8]:
# df.drop("c57	c58	c59	c60	c61	c62".split("	"), axis = 1, level = 3).loc[
#     (industry, slice(None), country, slice(None)),
#     (slice(None), slice(None), slice(None), slice(None))
# ]

In [9]:
df.drop("c57	c58	c59	c60	c61	c62".split("	"), axis = 1, level = 3).loc[
    (industry, slice(None), country, slice(None)),
    (slice(None), slice(None), slice(None), slice(None))
].sum(axis=1)

C23  Manufacture of other non-metallic mineral products  GBR  r14    25412.0
dtype: float64

### Q4
Your industry demands _____ US dollars worth of intermediate inputs from producers in your country.

In [10]:
# df.loc[(slice(None), slice(None), country, slice(None)),
#        (industry, slice(None), country, slice(None))]

In [11]:
df.loc[(slice(None), slice(None), country, slice(None)),
       (industry, slice(None), country, slice(None))].sum()

C23  Manufacture of other non-metallic mineral products  GBR  c14    15067.0
dtype: float64

### Q5
Your industry’s simple output multiplier is _____.

In [12]:
indus = "A01	A02	A03	B	C10-C12	C13-C15	C16	C17	C18	C19	C20	C21	C22	C23	C24	C25	C26	C27	C28	C29	C30	C31_C32	C33	D35	E36	E37-E39	F	G45	G46	G47	H49	H50	H51	H52	H53	I	J58	J59_J60	J61	J62_J63	K64	K65	K66	L68	M69_M70	M71	M72	M73	M74_M75	N	O84	P85	Q	R_S	T	U".split("	")
indus = np.array(indus)

In [13]:
A = df.drop("c57	c58	c59	c60	c61".split("	"), axis = 1, level = 3).loc[
    (slice(None), slice(None), country, slice(None)),
    (slice(None), slice(None), [country, "TOT"], slice(None))]

In [14]:
A = pd.DataFrame(A.values)

In [15]:
div = A.iloc[:, -1]
id_ = div[div != 0].index

In [16]:
A = A.loc[id_, id_] / div[id_]

In [17]:
A = np.eye(len(id_),len(id_)) - A

In [18]:
L = pd.DataFrame(np.linalg.inv(A), index = indus[id_], columns = indus[id_])

In [19]:
L[industry].sum()

1.988739788024383

### Q6
Your industry’s simple value added multiplier is _____. (2points)

In [20]:
# df.drop("c57	c58	c59	c60	c61".split("	"), axis = 1, level = 3).loc[("VA", slice(None), slice(None), slice(None)),
#        (slice(None), slice(None), country, slice(None))]

In [21]:
VA = df.drop("c57	c58	c59	c60	c61".split("	"), axis = 1, level = 3).loc[("VA", slice(None), slice(None), slice(None)),
       (slice(None), slice(None), country, slice(None))].values

In [22]:
# VA

In [23]:
VA = pd.DataFrame(VA)

In [24]:
# VA

In [25]:
VC = VA.iloc[:, id_] / div[id_]

In [26]:
VC = np.diag(VC.values.flatten())

In [27]:
Q6 = pd.DataFrame(np.dot(VC, L),index = indus[id_], columns = indus[id_])[industry].sum()
Q6

0.6928866648093185

### Q7
If final demand by your country and the rest of the world for your industry’s output were to increase by one percent, the open input-output model predicts that your country’s total value added would increase by _____ percent. (2 points)

In [28]:
Q2

C23  Manufacture of other non-metallic mineral products  GBR  r14    2259.0
dtype: float64

In [29]:
Q2.values * 0.01

array([22.59])

In [30]:
# value-added multiplier
Q6

0.6928866648093185

In [31]:
Q1

                                                                                      C23
                                       Manufacture of other non-metallic mineral products
                                                                                      GBR
                                                                                      c14
VA Value added at basic prices TOT r70                                             7995.0

In [32]:
Q2.values * 0.01 * Q6 / Q1 * 100

                                                                                      C23
                                       Manufacture of other non-metallic mineral products
                                                                                      GBR
                                                                                      c14
VA Value added at basic prices TOT r70                                           0.195776

### Q8
Your industry’s consumption coefficient (ratio of household consumption to total labor compensation) is _____. (1point)

In [33]:
EXR = pd.read_excel("EXR_WIOD_Nov16.xlsx", sheet_name="EXR", header=3)
EXR = EXR[EXR["Acronym"] == country]["_2014"]

In [34]:
lab = pd.read_excel("WIOD_SEA_Nov16.xlsx", sheet_name="DATA")
lab = lab[lab["variable"] == "LAB"].drop(range(2000,2014), axis=1)

In [35]:
lab_compen = lab[(lab["country"] == country)][2014].sum()

In [36]:
consumption = df.loc[
    (industry, slice(None), country, slice(None)),
    (slice(None), slice(None), country, "c57")]
consumption

                                                                                                    CONS_h
                                                               Final consumption expenditure by households
                                                                                                       GBR
                                                                                                       c57
C23 Manufacture of other non-metallic mineral products GBR r14                                      1148.0

In [37]:
consumption / (lab_compen * EXR.values)

                                                                                                    CONS_h
                                                               Final consumption expenditure by households
                                                                                                       GBR
                                                                                                       c57
C23 Manufacture of other non-metallic mineral products GBR r14                                    0.000664

### Q9
Your industry’s total truncated output multiplier is _____. (2 points)

In [38]:
# df.drop("r66	r67	r68	r69	r70	r71	r72	r73".split("	"), level = 3).drop("c58	c59	c60	c61".split("	"), axis=1, level=3).loc[
#     (slice(None), slice(None), country, slice(None)),
#     (slice(None), slice(None), [country, "TOT"], slice(None))]

In [39]:
Z = df.drop("r66	r67	r68	r69	r70	r71	r72	r73".split("	"), level = 3).drop("c58	c59	c60	c61".split("	"), axis=1, level=3).loc[
    (slice(None), slice(None), country, slice(None)),
    (slice(None), slice(None), [country, "TOT"], slice(None))].values

In [40]:
Z = pd.DataFrame(Z, index = indus, columns=np.append(indus, [range(2)]))

In [41]:
Z.columns = np.append(indus, ["FC", "X"])

In [42]:
# Z

In [43]:
# lab[lab["country"] == country][2014]

In [44]:
lab = (lab[lab["country"] == country][2014] * EXR.values).values

In [45]:
# lab

In [46]:
Z = Z.append(pd.Series(np.append(lab, [0,0]), index = Z.columns), ignore_index=True)

In [47]:
Z.index = np.append(indus, "labor")

In [48]:
Z.head()

,A01,A02,A03,B,C10-C12,C13-C15,C16,C17,C18,C19,...,M74_M75,N,O84,P85,Q,R_S,T,U,FC,X
A01,4351.0,111.0,0.0,7.0,16952.0,10.0,2.0,7.0,8.0,2.0,...,10.0,97.0,24.0,73.0,143.0,49.0,0.0,0.0,12906.0,43073.0
A02,2.0,525.0,0.0,2.0,7.0,0.0,307.0,1.0,1.0,0.0,...,1.0,8.0,6.0,5.0,16.0,13.0,0.0,0.0,526.0,1908.0
A03,0.0,0.0,134.0,0.0,752.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,4.0,1.0,0.0,0.0,392.0,2729.0
B,15.0,1.0,1.0,4134.0,113.0,9.0,7.0,35.0,11.0,13318.0,...,21.0,141.0,66.0,40.0,122.0,50.0,0.0,0.0,952.0,70721.0
C10-C12,4671.0,5.0,172.0,114.0,30356.0,263.0,35.0,219.0,69.0,103.0,...,167.0,1267.0,327.0,1444.0,3924.0,1577.0,0.0,0.0,35357.0,150147.0

In [49]:
div = list(Z["X"].values)
div.pop(len(list(Z["X"].values))-1)
div.append(lab.sum())

In [50]:
# div

In [51]:
A = (Z.drop("X", axis=1) / div).fillna(0)

In [52]:
# np.eye(len(A), len(A)) - A

In [53]:
L = pd.DataFrame(np.linalg.inv(np.eye(len(A), len(A)) - A), index = A.index, columns=A.columns)

In [54]:
# L

In [55]:
L[industry].values[:-1].sum()

3.049184749130727

### Q10
Your industry’s total truncated value added multiplier is_____. (2 points)

In [56]:
# Z

In [57]:
Z["X"].values[-1] = lab.sum()

In [58]:
Z["X"].values[-1]

1729253.9410800003

In [59]:
VA = Z["X"].values - Z.sum().values[:-1]

In [60]:
VC = VA / Z["X"]

In [61]:
VC = VC.fillna(0)
VC = VC.values[:-1]

In [62]:
VC = np.diag(VC.flatten())

In [63]:
# VC

In [64]:
L = L.values[:-1,:-1]

In [65]:
# np.dot(VC, L)

In [66]:
Q10 = pd.DataFrame(np.dot(VC, L), index=indus, columns=indus)[industry].sum()
Q10

0.853341076156061

### Q11.
If final demand by your country and the rest of the world
for your industry’s output were to increase by one percent,
the closed input-output model predicts that your country’s
total value added would increase by _____ percent. (2
points)

In [67]:
Q2.values * 0.01 * Q10 / Q1 * 100

                                                                                      C23
                                       Manufacture of other non-metallic mineral products
                                                                                      GBR
                                                                                      c14
VA Value added at basic prices TOT r70                                           0.241113