In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
prod_ls = ['Saving', 'Guarantees', 'Current', 'Derivada', 'Payroll_A',
           'Junior', 'M?s particular', 'particular', 'particular Plus',
           'Short-term', 'Medium-term', 'Long-term', 'e-account', 'Funds',
           'Mortgage', 'Pensions_A', 'Loans', 'Taxes', 'Credit', 'Securities',
           'Home', 'Payroll', 'Pensions']

In [4]:
limited_rows = 100
df = pd.read_csv("cleaned_train.csv",
#                  nrows = limited_rows,
                 dtype = {"Date": str,
                          "Cus_cod": str,
                         }
                )
df.head()

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date,Cus_cod,Emp_id,Country,Gen,Age,F_date,New_cus,Cus_sen,Prim,...,Mortgage,Pensions_A,Loans,Taxes,Credit,Securities,Home,Payroll,Pensions,Direct
0,15-01,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,1,1,0,0.0,0.0,0
1,15-02,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
2,15-03,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
3,15-04,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
4,15-05,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,1,1,0,0.0,0.0,0

In [5]:
df.index = df["Date"].map(str) + np.repeat("-", len(df)) + df["Cus_cod"]

In [6]:
df.head()

,Date,Cus_cod,Emp_id,Country,Gen,Age,F_date,New_cus,Cus_sen,Prim,...,Mortgage,Pensions_A,Loans,Taxes,Credit,Securities,Home,Payroll,Pensions,Direct
15-01-15889,15-01,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,1,1,0,0.0,0.0,0
15-02-15889,15-02,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
15-03-15889,15-03,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
15-04-15889,15-04,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
15-05-15889,15-05,15889,F,ES,F,56,95-01,0.0,245.0,1.0,...,0,0,0,0,1,1,0,0.0,0.0,0

In [7]:
df.shape

(13647309, 48)

In [11]:
df.to_csv("final_X.csv")

## Restart Kernel

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("final_X.csv")

In [8]:
# from 15-01 to 16-04
date = df["Date"].unique()[:-1]
# from 15889 to ***
cus = df["Cus_cod"].unique()

cus_arr = np.repeat(cus, len(date))
date_arr = np.tile(date, len(cus))
id_date_cuscd = date_arr + np.repeat("-", len(date_arr)) + cus_arr.astype(str)

In [9]:
df = df.drop("Cus_cod", axis = 1)

In [10]:
X = pd.DataFrame(index = id_date_cuscd, columns = df.columns)
X.loc[:] = df

MemoryError: