In [45]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

from math import sin, cos, atan2, sqrt, pi, radians
#!conda install -c conda-forge geopandas

In [46]:
#path ='D:\Jupyter_File\Python_Challenge_SD\country-capitals.csv'

df = pd.read_csv("country-capitals.csv",index_col="CountryName", error_bad_lines=False)
df.head(10)

b'Skipping line 229: expected 6 fields, saw 7\nSkipping line 240: expected 6 fields, saw 7\n'

,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
CountryName,,,,,
Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF,Antarctica
Palestine,Jerusalem,31.766667,35.233333,PS,Asia
Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe
Nauru,Yaren,-0.547700,166.920867,NR,Australia
Saint Martin,Marigot,18.073100,-63.082200,MF,North America
Tokelau,Atafu,-9.166667,-171.833333,TK,Australia
Western Sahara,El-Aaiún,27.153611,-13.203333,EH,Africa
Afghanistan,Kabul,34.516667,69.183333,AF,Asia

In [47]:
# Drop the data that have NaN values
df = df.dropna()

In [48]:
# Function for calculating the distance between two coordinates
# Haversine formula
def distance(loc1, loc2, R = 6371):
    
    # Change the value into radians
    lat1 = radians(float(loc1[0]))
    lat2 = radians(float(loc2[0]))
    
    #Calulate the difference between the coordinates between two points (Latitude and Longitude)
    deltalat = radians(float(loc2[0])-float(loc1[0])) 
    deltalon = radians(float(loc2[1])-float(loc1[1]))
    
    # Haversine formula
    a = sin(deltalat/2) * sin(deltalat/2) + cos(lat1) * cos(lat2) * sin(deltalon/2) * sin(deltalon/2);
    c = 2 * atan2(sqrt(a),sqrt(1-a));

    d = R * c;
    
    return d

In [50]:
# Create new blank data frame to input the distance
new_df = pd.DataFrame()

# Loop from to calculate distance 
for i in range(len(df)):
    
    #empty list in order to store distance between two countries 
    d = []
    for j in range(len(df)):
        
        #add each value into the list one by one
        d.append(distance(df.iloc[i][['CapitalLatitude', 'CapitalLongitude']], df.iloc[j][['CapitalLatitude', 'CapitalLongitude']]))
    
    # Change new dataframe column name with the first index name (country)
    new_df[df.index[i]] = d

In [51]:
# Change the name of the index from number to countries' name

new_df.index = df.index
new_df.tail()
len(new_df)

236

In [44]:
# Convert dataframe into CSV files
new_df.to_csv("World Capital Distance.csv")